.mainBox {
  padding: 10px;
}
.mainWrapper {
  border: 1px solid #6f7382;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #6f7382;
  .headerWrapper {
    display: flex;
    justify-content: center;
    h1 {
      font-size: 1.2rem;
      color: #6f7382;
    }
  }
}
