<nav class="navbar bg-dark">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link text-light" routerLinkActive="active" routerLink="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Angular</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Angular Materials</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">BootStrap</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Google Maps</a>
    </li>
  </ul>
  <div>
    <button mat-icon-button aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button type="button" class="btn btn-dark">
      <svg-icon src="assets/icons8-menu.svg" [svgStyle]="{'width.px': 60, 'height.px': 60 }"></svg-icon>
    </button>
    <svg-icon src="assets/icons8-menu.svg" [svgStyle]="{'width.px': 60, 'height.px': 60 }"></svg-icon>
    <svg-icon src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnIGlkPSJfeDMyXzEtYW5ndWxhciI+PGc+PHBhdGggZD0iTTIxNi44NzksMjY4LjQyNmg3OC4yNDFMMjU2LDE3NC4zNzJMMjE2Ljg3OSwyNjguNDI2TDIxNi44NzksMjY4LjQyNnogTTI1NiwyNi4wMDFMNDIuNjM1LDEwMi4zOTUgICAgbDMyLjY1MiwyODMuMDgxTDI1Niw0ODUuOTk5bDE4MC43MTItMTAwLjUyM2wzMi42NTMtMjgzLjA4MUwyNTYsMjYuMDAxeiBNMzg5LjY4OCwzNzYuOTU3aC00OS45MDRsLTI2LjktNjcuMTUzSDE5OS4zMjEgICAgbC0yNi45MDMsNjcuMTUzaC01MC4wMDNMMjU2LDc2LjgyN0wzODkuNjg4LDM3Ni45NTd6IiBzdHlsZT0iZmlsbDojREQwMDMxOyIvPjwvZz48L2c+PGcgaWQ9IkxheWVyXzEiLz48L3N2Zz4="
      [svgStyle]="{'width.px': 60, 'height.px': 60 }"></svg-icon>
  </div>
</nav>