.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.headerWrapper {
    .mobileNav {
        max-height: 4rem;
        h1 {
            font-size: 1.2rem;
        }
    }
    .navbar {
        display: none;
    }

    @media (min-width: 991px) {
        .mobileNav {
            display: none !important;
        }
        .navbar {
            display: block;
        }
    }
}