<div class="headerWrapper d-flex justify-content-between">
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Angular</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Angular Materials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BootStrap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Google Maps</a>
      </li>
    </ul>
  </div>
  <div>
    <button type="button" class="btn btn-primary">Primary</button>
    <h1>logo Anulara</h1>
  </div>
</div>