<div class="headerWrapper d-flex justify-content-between">
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Angular</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Angular Materials</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BootStrap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Google Maps</a>
      </li>
    </ul>
  </div>
  <div>
    <button type="button" class="btn btn-primary">Primary</button>
    <h1>logo Anulara</h1>
  </div>
</div>
<div>
  <ul class="nav navbar-nav">
    <li>
      <a routerLinkActive="active" routerLink="fruts-list">fruts-list</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="apple/1">apple</a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLink]="['advance-one']" [queryParams]="{ order: 'popular', number: 1}">
        advenceOne
      </a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="advance-two">advenceTwo</a>
    </li>
  </ul>
</div>
