<h4>Simple promise Effect</h4>
<p [innerText]="simplePromisResult"></p>
<div>
  <button mat-button (click)="simplePromiseTest(true)">Iniciate Simple Promis</button>
</div>
<h3>Advance Promise Effect</h3>
<p [innerText]="promiseCount + ' promiser Counter'"></p>
<div>
  <button mat-button (click)="secExample()">Advance Button Executer</button>
</div>
<h3>HttpPromise</h3>
<div>
  <button mat-button (click)="testGeOnTry()">HttpPromise</button>
  <button mat-button (click)="useApiServiceOnpromise()">Test On Promise 2</button>
</div>
<h3>GetData rxjs subscribce</h3>
<div>
  <button mat-button (click)="rxjsTest()">HttpOnRxjs</button>
</div>
<h3>KoljenyTest</h3>
<div>
  <button mat-button (click)="trainApiPromiser()">OnPromise test</button>
</div>
<div>
  <button mat-button (click)="trainPromis2()">OnPromise test2</button>
</div>
<h3>Bez Try</h3>
<div>
  <button mat-button (click)="testThen()">On Then i Catch</button>
</div>
