<div class="p-4">
    <h1>Prosta komunikacja na zasadzie Input Output</h1>
    <div class="d-flex flex-wrap">
        <app-boxcolor 
            class="m-2" 
            *ngFor="let simplebox of simpleBoxesTable" 
            [orginColor]="simplebox.color" 
            [id]="simplebox.id" 
            [otherBoxes]="simpleBoxesTable"
            [infected]="(infected ? (infected.targetId === simplebox.id ? infected : null )  : null)"
            (infects)="infectsHandler($event)">
        </app-boxcolor>
    </div>
</div>