<!--The content below is only a placeholder and can be replaced.-->
<app-loader></app-loader>
<div class="header">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Angular</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Angular Materials</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">BootStrap</a>
    </li>
    <li class="nav-item">
      <a class="nav-link ">Google Maps</a>
    </li>
  </ul>
</div>
<div class="d-flex justify-content-start">
  <div class="row">
    <div class="col-xl-4">

      <button mat-button>Click me!</button>
      <app-dialogs></app-dialogs>
      <app-login></app-login>
      <div class="d-flex justify-content-center">
        <ngb-datepicker #dp [(ngModel)]="dataModel" (navigate)="date = $event.next"></ngb-datepicker>
      </div>
      <hr />
      <div class="d-flex justify-content-center">
        <div>
          <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
          <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
          <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb
            2013</button>
        </div>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li>
            <a routerLinkActive="active" routerLink="fruts-list">fruts-list</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="apple/1">apple</a>
          </li>
          <li>
            <a routerLinkActive="active" [routerLink]="['advance-one']" [queryParams]="{ order: 'popular', number: 1}">
              advenceOne
            </a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="advance-two">advenceTwo</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xl-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>