<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container (backdropClick)="closeMenu()" class="example-container">
  <mat-sidenav position="end" #sidenav>
    <app-slidemenu-content [menuList]="menuList" (activeMenuOut)="mobileMenuHandler($event)"></app-slidemenu-content>
  </mat-sidenav>
  <mat-sidenav position="start" #leftSidenav>
    <app-slidemenu-content [menuList]="menuList" (activeMenuOut)="mobileMenuHandler($event)"></app-slidemenu-content>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header [menuList]="menuList" (mobileMenuExecuter)="openMenu($event, sidenav)"></app-header>
    <button (click)="openMenu($event, leftSidenav)">Opel left Menu</button>
    <app-loader></app-loader>
    <!-- <div class="d-flex justify-content-start">
  <div class="row">
    <div class="col-xl-4"> -->

    <!-- <button mat-button>Click me!</button>
        <app-dialogs></app-dialogs>
        <app-login></app-login>
        <div class="d-flex justify-content-center">
          <ngb-datepicker #dp [(ngModel)]="dataModel" (navigate)="date = $event.next"></ngb-datepicker>
        </div>
        <hr />
        <div class="d-flex justify-content-center">
          <div>
            <button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
            <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
            <button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb
              2013</button>
            </div>
          </div> -->
    <!-- </div>
    <div class="col-xl-8">
    </div>
  </div>
</div> -->
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>