<p>
  advance-one works!
</p>
<h1 appCollapse [child]="test" [startHeight]="0" [duration]="250">Test Directive</h1>
<div #test>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptates libero ratione sequi repellendus sed? Ut,
    doloribus illo, impedit fugit tempora quaerat, culpa quisquam natus perspiciatis saepe similique totam hic autem.
    Doloremque ipsum assumenda mollitia ratione. Nostrum illo veniam aliquid repellat maxime adipisci architecto
    placeat hic rerum impedit. Obcaecati magnam, eum delectus fugiat eveniet molestias tenetur quae laboriosam
    quisquam veritatis! Similique quam quo pariatur, enim officiis impedit exercitationem quis possimus? Repellat ex
    aut excepturi maxime amet, voluptatibus deserunt eligendi eveniet aliquid aliquam in aperiam qui iste quas,
    voluptate totam aspernatur. Omnis, ab. Ipsam laudantium blanditiis odit repudiandae minus praesentium dicta a
    provident aliquid vero rerum sunt nesciunt saepe corporis natus cum, sed dignissimos voluptates nemo! Non animi
    maxime in officia?</p>
</div>