<div>
  <div class="header">
    <h1>Home</h1>
  </div>
  <hr />
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem porro cum reprehenderit blanditiis! Nostrum illum
      voluptatem beatae possimus rerum repellendus alias quibusdam vitae tempora, ipsa iusto, praesentium autem, neque
      eligendi commodi voluptatum. Atque eligendi vero ad perspiciatis iusto, rem voluptas ut rerum doloremque.
      Voluptatum hic provident architecto at esse unde.
    </p>
    <ul>
      <li>Routing, sprawdzić dokładnie na nowej karcie states</li>
      <li>w3shools cały poradnik html</li>
      <li>Infinity scroll</li>
      <li>style</li>
      <li>Blob</li>
      <li>Interceptor</li>
      <li>Promise</li>
      <li>dodać funckję do sprawdznia action bar w rotTrain</li>
    </ul>
  </div>
</div>