<mat-card>
  <mat-card-header>
    <mat-card-title>Lista zadań</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-task [task]="testTask"></app-task>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloremque sapiente debitis voluptatem aperiam
      maxime cum ullam, veritatis beatae ut.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Sortuj</button>
    <button mat-button [matMenuTriggerFor]="menu">Kolor</button>
    <mat-menu class="colorMenu" #menu="matMenu">
      <button (click)="colorHandler(color)" *ngFor="let color of colorList" [ngStyle]="{'background': color}" mat-menu-item></button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="rate">Stopień</button>
    <mat-menu #rate="matMenu">
      <button *ngFor="let rate of rateList" mat-menu-item [innerText]="'Nadaj stopień ' + (rate + 1)"></button>
    </mat-menu>
    <button mat-button>pokaż więcej</button>
  </mat-card-actions>
</mat-card>