<mat-card>
  <form [formGroup]="form1" (submit)="submitTestForm()">
    <mat-card-header>
      <mat-card-title>FormGroup Validation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <input matInput placeholder="name" formControlName="name">
      </div>
      <div *ngIf="form1.get('name').hasError('required') && form1.get('name').touched">Error name</div>
      <div>
        <input matInput placeholder="age" formControlName="age">
      </div>
      <div *ngIf="(form1.get('age').hasError('required') || form1.get('age').hasError('pattern')) && form1.get('age').touched">ErrorAge</div>
      <div>
        <input matInput placeholder="password" type="password" formControlName="password">
      </div>
      <div *ngIf="form1.get('password').hasError('required') && form1.get('password').touched">Error password</div>
      <div>
        <input matInput placeholder="Confrim password" type="password" formControlName="confirmPassword">
      </div>
      <div>
        <div *ngIf="form1.get('confirmPassword').hasError('required') && form1.get('confirmPassword').touched">Error confirmPassword</div>
        <div *ngIf="form1.get('confirmPassword').hasError('missMatchPassword') && form1.get('confirmPassword').dirty">Error confirmPassword notMatch</div>
        <!-- dirty gdy juz piszmey, touched jak nazwa wskazuje -->
      </div>
      <div>
        <input matInput placeholder="NickName" type="text" formControlName="nickName">
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [disabled]="form1.invalid" type="submit">Submit</button>
      <button mat-button (click)="checkValidation()" type="button">testValidaton</button>
      <button mat-button (click)="resetForm()" type="button">resetForm</button>
      <button mat-button (click)="patchValue()" type="button">patchValue</button>
      <button mat-button (click)="setValue()" type="button">setValue</button>
      <button mat-button (click)="checkFormValue()" type="button">checkFormValues</button>
    </mat-card-actions>
  </form>
</mat-card>