<mat-card>
  <form [formGroup]="form1" (submit)="submitTestForm()">
    <mat-card-header>
      <mat-card-title>FormGroup Validation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field>
          <input matInput placeholder="name" [(ngModel)]="data.name" formControlName="name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="age" [(ngModel)]="data.age" formControlName="age">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="password" type="password" [(ngModel)]="data.password" formControlName="password">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [disabled]="form1.invalid" type="submit">Submit</button>
      <button mat-button (click)="checkValidation()">testValidaton</button>
    </mat-card-actions>
  </form>
</mat-card>