<div>
  <form action="">
    <div>
      <div>
        <mat-form-field>
          <mat-label>Imię</mat-label>
          <input type="text" matInput>
        </mat-form-field>
      </div>
      <div>
        <label>Płeć: </label>
        <mat-radio-group [value]="'auto'">
          <mat-radio-button value="man">Koleś</mat-radio-button>
          <mat-radio-button value="woman">Laseczka</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Rasa</mat-label>
          <mat-select>
            <mat-option value="black">Mudzin</mat-option>
            <mat-option value="white">Białas</mat-option>
            <mat-option value="yellow">Żółtek</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Wiek</mat-label>
          <input type="number" matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="middleContent">
      <div *ngIf="photoURL" class="imgBox" [ngStyle]="{'background-image': 'url(' + photoURL + ')'}"></div>
    </div>
    <div>
      <mat-label>Zdjęcie</mat-label>
      <input (change)="fileHandler3($event)" type="file">
    </div>
    <div *ngIf="photoURL">
      <div appAvatar [name]="'Bartek'" [imgSrc]="photoURL"></div>
    </div>
  </form>
</div>
