<h1>
  Dialogs Component
  <button mat-button (click)="dialogService.openSimpleDialog(msg1)">Wyświetl wiadomość</button>
  <button mat-button (click)="dialogService.openSimpleDialog(msg2)">Wyświetl wiadomość2</button>
  <button mat-button (click)="dialogService.openConfirmDialog()">dialog z potwierdzeniem</button>
  <div>
    <h1>dialog z inputem</h1>
    <mat-form-field>
      <input matInput [(ngModel)]="dialogInputname" placeholder="Jak się nazywasz?">
    </mat-form-field>
    <button matt-button (click)="dialogService.openNameAndColorDialog(dialogInputname)">Jaki jest twój ulubiony kolor?</button>
  </div>
</h1>