<div class="wrapper p-4" [ngStyle]="{'background': backGroundColor}">
  <h4 [innerText]="'Moje ID to '+ boxStats.id"></h4>
  <h5 [innerText]="'Mój orginalny kolor to ' + boxStats.color"></h5>
  <div class="boxesWraper">
    <p *ngIf="boxStats.infectedby > -1" class="text-center" [innerText]="'Zarażony przez ID ' +  boxStats.infectedby"></p>
    <p class="text-center">Zaraź:</p>
    <button *ngFor="let item of otherBoxes" mat-button (click)="infectHandler(item.id)"> Box {{item.id}}</button>
  </div>
</div>
